
.article {

	width: 100%;
	margin: 0 auto;

	&__title {
		margin: 8rem 0 2rem;
		color: $copper;
	}

	&__subtitle {
		color: $slate;
		font-weight: 600;

		span { padding-left: 1rem; font-weight: 300; }
	}

	&__paragraph {
		width: 540px;
		margin: 0 0 2rem auto;

	}	
	
	&__paragraph:first-of-type {
		margin-top: 4rem;
	}

}