
.page-index {

	padding-top: 0;

	hr {
		margin: 1em auto;
		height: 4px;
		width: 80px;
		border: 0;
		background-color: $slate;
	}

	&__masthead {
		padding: 6rem 0;
		margin-bottom: 6rem;
		background: $wheat;
		border: 4px double $copper;
	}

	&__preview {
		width: 580px;
		margin: 2rem auto 8rem;
	}

	&__preview-title {
		margin-bottom: 1rem;
	}

	&__preview-body {
		margin-top: 2rem;
	}

	&__row-thirds {
		display: flex;
		margin-bottom: 4em;
	}

	&__preview-mini {
		flex: 1;
		&:not(:first-of-type) { margin-left: 2em }
	}

	&__preview-mini-title {
		margin-top: 3rem;
		margin-bottom: 1rem;
	}
}