
.page-index {

	padding-top: 0;

	&__masthead {
		margin-bottom: 4rem;
		padding: 8rem 0 8rem;
	}




	&__list {
		max-width: 500px;
		margin: 0 auto 2rem;
		padding: 0 2rem;
		list-style-type: none; 
	}

	&__list-item {
		margin-bottom: 1em;
		padding: 1em 0;
	}

	&__list-item-subtitle {
		font-family: $font-family-sans
	}

	&__list-item-body {
		font-family: $font-family-sans;
		font-size: 16px;
		line-height: 1.5;
		font-weight: normal;
	}

}