
.header {
	display: flex;
	padding: 1em 2em;
	font-family: $font-family-sans;

	.container {
		justify-content: space-between;
	}

	&__logo {
		text-transform: uppercase;
    font-weight: 700;
	}

	&__logo a {
		padding: .5rem 1rem;

		&:hover {
			text-decoration: none;
			background: rgba($hops,.1)
		}
	}


	&__navigation {
		
	}

	&__navigation-item {
		padding-left: 1em;
	}
}