
.footer {
	padding: 4em 2em;
	font-family: $font-family-sans;
	background-color: $copper;

	&,
	& a,
	& h6,
	&__navigation-item {
		color: $white;
		font-weight: 300;
	}

	.container {
		display: flex;
		justify-content: space-between;
	}

	&__logo span {
		font-size: 40px;
	}


	&__navigation-item {
		display: block;
		padding: 2rem;
	}
}