
// font-family
$font-family-sans: 		"Open Sans", sans-serif;
$font-family-serif: 	"Merriweather", serif;

// font-size ratio
// minor third: 5/6 = 1.2
$type-scale-1:	 	 4.3rem;
$type-scale-2:	 3.583rem;
$type-scale-3:	 2.986rem;
$type-scale-4:	 2.488rem;
$type-scale-5:	 2.074rem;
$type-scale-6:	 1.728rem;
$type-scale-7:	  1.44rem;
$type-scale-8:	   1.2rem;
