
.footer {
  padding: 4em 2em;
  font-family: $font-family-sans;
  background-color: desaturate($copper,20%);

  &,
  & a,
  & h6,
  &__navigation-item {
    color: $white;
    font-weight: 300;
  }

  .container {
    display: flex;
    justify-content: space-between;
  }



  &__logo span {
    font-size: 24px;
  }

  &__logo h6 {
    margin-top: .5rem;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
  }



  &__list {
    list-style-type: none;
  }

  &__list h6 {
    display: inline-block;
    padding-left: 16px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
  }

  &__list-item a {
    display: inline-block;
    padding: 4px 16px 4px 16px;
    margin: 4px 0;
  }
}